.StoreKeeperRelease{
    margin: auto 10px;
}
.StoreKeeperRelease-info-main-div{
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.StoreKeeperRelease-info-input-div{
    /* border: 1px solid black; */
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}
.StoreKeeperRelease-info-input-label{}
.StoreKeeperRelease-info-input{}





.StoreKeeperRelease-search-main-div{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.StoreKeeperRelease-search-div-select-input{
    font-size: 16px;
    border: none;
    height: 22px;
    width: 100%;
    background-color: transparent;
    
    &:focus {
      outline: 0px solid #ddd;
      }
}














.StoreKeeperRelease-input-main-div{
    margin-top: 50px;
    /* background-color: yellow; */
}







.StoreKeeperRelease-job-preview{
    width: 99%;
    height: 100vh;
    background-color: rgba(247, 247, 247, 0.944);
    position: absolute;
    top: 0px;
    z-index: 2;

}
.StoreKeeperRelease-job-select_item-title{
    text-align: center;
}
.StoreKeeperRelease-job-preview-1{

}








.StoreKeeperRelease-job-select_item-preview{
    width: 99%;
    height: 100vh;
    background-color: rgba(247, 247, 247, 0.944);
    position: absolute;
    top: 0px;
    z-index: 3;
}
.StoreKeeperRelease-job-select_item-preview-1{

}