



.PurchaseRawLabReport-main{
    box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.1);
    /* background-color: aliceblue; */
    margin:10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 5px;
}




.PurchaseRawLabReport-main-table{
    width: 100%;
    /* background-color: antiquewhite; */
    border: 1px solid black;
    padding: 5px;
}
.PurchaseRawLabReport-main-table-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--color-secondary);
}
.PurchaseRawLabReport-main-table-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.PurchaseRawLabReport-main-table-col-1{
    /* background-color: aqua; */
    width: 10%;
}
.PurchaseRawLabReport-main-table-col-2{
    /* background-color: blue; */
    width: 10%;
}
.PurchaseRawLabReport-main-table-col-3{
    /* background-color: yellowgreen; */
    width: 30%;
}
.PurchaseRawLabReport-main-table-col-4{
    /* background-color: brown; */
    width: 10%;
}
.PurchaseRawLabReport-main-table-col-5{
    /* background-color: violet; */
    width: 3%;
}
.PurchaseRawLabReport-main-table-col-6{
    /* background-color: aqua; */
    width: 10%;
}
.PurchaseRawLabReport-main-table-col-7{
    /* background-color: tomato; */
    width: 10%;
}
.PurchaseRawLabReport-main-table-col-8{
    /* background-color: rgb(71, 255, 215); */
    width: 10%;
}

.PurchaseRawLabReport-main-table-col-7-input{
    width: 9.5%;
    height: 25px;
}









.PurchaseRawLabReport-btn-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.PurchaseRawLabReport-btn{
    background-color: var(--color-secondary);
}