
.PurchaseRawStore{
    width: 100%;

}

.PurchaseRawStore-main{
    box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.1);
    /* background-color: aliceblue; */
    margin:10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    width: 98%;
}

.PurchaseRawStore-data-table{
    /* background-color: antiquewhite; */
    overflow-x: scroll;
    border: 1px solid black;
    padding: 5px;
    width: 99%;
    /* margin:0px 100px; */

    
}
.PurchaseRawStore-data-table-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    background-color: var(--color-secondary);
    gap: 5px;
}
.PurchaseRawStore-data-table-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    gap: 5px;
}
.PurchaseRawStore-data-table-col1{
    /* background-color: aqua; */
    width: 140px;
}
.PurchaseRawStore-data-table-col2{
    /* background-color: yellowgreen; */
    width: 250px;
}
.PurchaseRawStore-data-table-col3{
    /* background-color: aquamarine; */
    width: 260px;
}
.PurchaseRawStore-data-table-col4{
    /* background-color: blue; */
    width: 700px;
}
.PurchaseRawStore-data-table-col5{
    /* background-color: violet; */
    width: 100px;
}
.PurchaseRawStore-data-table-col6{
    /* background-color: violet; */
    width: 100px;
}
.PurchaseRawStore-data-table-col7{
    /* background-color: violet; */
    width: 100px;
}
.PurchaseRawStore-data-table-col8{
    /* background-color: violet; */
    width: 140px;
}
.PurchaseRawStore-data-table-col9{
    /* background-color: violet; */
    width: 200px;
}
.PurchaseRawStore-data-table-col10{
    /* background-color: violet; */
    width: 140px;
}
.PurchaseRawStore-data-table-col11{
    /* background-color: violet; */
    width: 140px;
}
.PurchaseRawStore-data-table-col11-input{
    width: 130px;
    height: 25px;
}




.PurchaseRawStore-btn-div{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
}
.PurchaseRawStore-btn{
    background-color: var(--color-secondary);
}