


.PurchaseRawStore-main{
    box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.1);
    /* background-color: aliceblue; */
    margin:10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 5px;
}

.PurchaseRawStore-data-table{
    /* background-color: antiquewhite; */
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    
}
.PurchaseRawStore-data-table-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: var(--color-secondary);

}
.PurchaseRawStore-data-table-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.PurchaseRawStore-data-table-col1{
    /* background-color: aqua; */
    width: 15%;
}
.PurchaseRawStore-data-table-col2{
    /* background-color: yellowgreen; */
    width: 15%;
}
.PurchaseRawStore-data-table-col3{
    /* background-color: aquamarine; */
    width: 30%;
}
.PurchaseRawStore-data-table-col4{
    /* background-color: blue; */
    width: 8%;
}
.PurchaseRawStore-data-table-col5{
    /* background-color: violet; */
    width: 15%;
}
.PurchaseRawStore-data-table-col5-input{
    width: 14.5%;
    height: 25px;
}




.PurchaseRawStore-btn-div{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
}
.PurchaseRawStore-btn{
    background-color: var(--color-secondary);
}