.PurchaseRawView{

}

.PurchaseRawView-main-1{

}
.PurchaseRawView-main-1-search-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.PurchaseRawView-search-form{
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;

}