.CreateNewRawItem{
    width: 98%;
    height: 100%;
    padding: 1%;
}

.CreateNewRawItem-line-1{

}


.CreateNewRawItem-div-1{
    display: flex;
    justify-content: space-between;

}
.CreateNewRawItem-div-1-left{
    /* background-color: antiquewhite; */
    width: 70%;
}
.CreateNewRawItem-div-1-left-sub1{
    box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.1);
    /* background-color: aliceblue; */
    margin:10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 5px;
}

.CreateNewRawItem-div-1-left-form{
    /* background-color: aqua; */
    margin:15px 5px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
  width: 400px;

}
.CreateNewRawItem-div-1-left-form-sub{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.CreateNewRawItem-div-1-left-form-label{

}
.CreateNewRawItem-div-1-left-form-input{
    height: 25px;
    width: 300px;
}
.CreateNewRawItem-div-1-left-form-message{
    font-size: 10px;
    line-height: 1px;
}




























.CreateNewRawItem-div-1-right{
    /* background-color: yellowgreen; */
    width: 30%;
}
.CreateNewRawItem-div-1-right-sub{
    /* background-color: blanchedalmond; */
    box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

}

.CreateNewRawItem-div-1-right-add-img-div{
    width: 70%;
    max-height: 300px;
    min-height: 300px;
    border: 2px dotted black;
    /* background-color: rgba(136, 136, 136, 0.489); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CreateNewRawItem-div-1-right-add-img-input{
      position: absolute;
  opacity: 0;
  cursor: pointer;
      

    
    }


    .input-file-trigger {
        display: block;
        transition: all .4s;
        cursor: pointer;
        width: 95%;
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }



.CreateNewRawItem-div-1-right-add-img-icon{
    width: 150px;
    opacity: .3;
}