.CreateNewRawItem{
    width: 98%;
    height: 100%;
    padding: 1%;
}
.CreateNewRawItem-top-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CreateNewRawItem-top-div-p{
    margin-right: 5px;

}

.CreateNewRawItem-line-1{

}


.CreateNewRawItem-div-1{
    display: flex;
    justify-content: space-between;

}
.CreateNewRawItem-div-1-left{
    /* background-color: antiquewhite; */
    width: 100%;
}
.CreateNewRawItem-div-1-left-sub1{
    box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.1);
    /* background-color: aliceblue; */
    margin:10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 5px;
}

.CreateNewRawItem-div-1-left-form{
    /* background-color: aqua; */
    margin:15px 5px;
    display: flex;
    
    flex-direction: column;

 
  width: 400px;

}
.CreateNewRawItem-div-1-left-form-select{
    /* background-color: aqua; */
    margin:15px 5px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: max-content;
}
.CreateNewRawItem-div-1-left-form-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.CreateNewRawItem-div-1-left-form-label{

}
.CreateNewRawItem-div-1-left-form-input{
    height: 25px;
    width: 300px;
    background-color: var(--color-primary);
    border: 1px solid rgb(141, 141, 141);
}
.CreateNewRawItem-div-1-left-form-message{
    font-size: 10px;
    line-height: 1px;
}










.CreateNewRawItem-btn-div{
    /* background-color: aqua; */
    display: flex;
    justify-content: end;

}
.CreateNewRawItem-btn-1{
    background-color: red;
}
.CreateNewRawItem-btn-2{
    background-color: var(--color-secondary);
}









