.StoreManagerRelease{
    margin: auto 10px;
}
.StoreManagerRelease-info-main-div{
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.StoreManagerRelease-info-input-div{
    /* border: 1px solid black; */
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}
.StoreManagerRelease-info-input-label{}
.StoreManagerRelease-info-input{}





.StoreManagerRelease-search-main-div{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.StoreManagerRelease-search-div-select-input{
    font-size: 16px;
  border: none;
  height: 22px;
  width: 100%;
  background-color: transparent;
  
  &:focus {
    outline: 0px solid #ddd;
    }
  }














.StoreManagerRelease-input-main-div{
    margin-top: 50px;
    /* background-color: yellow; */
}

.StoreManagerRelease-btn-main-div{
    
}













.StoreManagerRelease-job-preview-div{
    background-color: rgba(255, 255, 255, 0.926);
    min-width: 500px;
    min-height: 98vh;
    position: absolute;
    z-index: 2;
    top: 1px;
    padding:10px 20px;
}
.StoreManagerRelease-job-preview-div-1{
    /* background-color: antiquewhite; */
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.StoreManagerRelease-job-preview-title{
    text-align: center;
}
.StoreManagerRelease-job-preview-info-p1{
    /* background-color: yellowgreen; */
    width: 40%;
}


.StoreManagerRelease-job-preview-div-2{
    display: flex;
    justify-content: center;
}
.StoreManagerRelease-job-preview-div-3{
    display: flex;
    justify-content: right;
    gap: 20px;
}