.StoreManagerRelease{
    margin: auto 10px;
}
.StoreManagerRelease-info-main-div{
    /* background-color: violet; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.StoreManagerRelease-info-input-div{
    /* border: 1px solid black; */
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}
.StoreManagerRelease-info-input-label{}
.StoreManagerRelease-info-input{}





.StoreManagerRelease-search-main-div{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.StoreManagerRelease-search-div-select-input{
    font-size: 16px;
  border: none;
  height: 22px;
  width: 100%;
  background-color: transparent;
  
  &:focus {
    outline: 0px solid #ddd;
    }
  }














.StoreManagerRelease-input-main-div{
    margin-top: 50px;
    /* background-color: yellow; */
}

.StoreManagerRelease-btn-main-div{
    
}











.StoreManagerRelease-job-preview{
 
    background-color: rgba(255, 255, 255, 0.923);
    position: absolute;
    top: 0px;
    z-index: 2;
    height: 100vh;
    width: 99%;
}
.StoreManagerRelease-job-preview-title{
    text-align: center;
}
.StoreManagerRelease-job-preview-div-sub{
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
}








.StoreManagerRelease-Item-preview{
    background-color: rgba(255, 255, 255, 0.963);
    position: absolute;
    top: 0px;
    z-index: 2;
    height: 100vh;
    width: 99%;
}
.StoreManagerRelease-Item-preview-title{
    text-align: center;
}
.StoreManagerRelease-Item-preview-info-div{
    /* background-color: antiquewhite; */
}
.StoreManagerRelease-Item-preview-info-div-sub{
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
}










