
.PurchaseRaw{

}

.PurchaseRaw-main-div{
    box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.1);
    /* background-color: aliceblue; */
    margin:10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 5px;
}



.PurchaseRaw-form-div{
    /* background-color: aqua; */
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.PurchaseRaw-form_div{
    /* background-color: aqua; */
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.PurchaseRaw-form-div-sub{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.PurchaseRaw-form-div-btn{
    background-color: transparent;
    border: none;
    font-size: 30px;
    margin: 5px;
}



.PurchaseRaw-form-item-div{
    /* background-color: yellowgreen; */
    min-width: 1000px;
    margin: 20px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PurchaseRaw-form-item-div-btn{
    border: none;
    background-color: transparent;
}
.PurchaseRaw-form-item-div-input{
    min-width: 1000px;
    height: 30px;
    /* background-color: violet; */
}
.PurchaseRaw-form-item-div-results-div-hide{
    background-color: rgba(255, 255, 255, 0.074);
    box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.1);
    height: 200px;
    min-width: 1000px;
    z-index: 0;
    position: relative;
    opacity: 0;
}
.PurchaseRaw-form-item-div-results-div-active{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 41px 4px rgba(0,0,0,0.1);
    height: 200px;
    overflow-y: scroll;
    min-width: 1000px;
    z-index: 0;
    position: relative;
}

.PurchaseRaw-form-item-div-result{
    width: 100%;
}



.PurchaseRaw-items-div{
   width: 100%;
    margin-top: -150px;
}
.PurchaseRaw-items-div-title{
    margin-left: 10px;
}

.PurchaseRaw-items-table-header{
    display: flex;
    justify-content: space-around;
    background-color: var(--color-secondary);
}
.PurchaseRaw-header-1{
    /* background-color: aliceblue; */
    width: 1.2%;
    overflow: hidden;
}
.PurchaseRaw-header-2{
    /* background-color: antiquewhite; */
    width: 35%;
    overflow: hidden;
}
.PurchaseRaw-header-3{
    /* background-color: aqua; */
    width: 7%;
    overflow: hidden;
}
.PurchaseRaw-header-4{
    /* background-color: bisque; */
    width: 7%;
    overflow: hidden;
}
.PurchaseRaw-header-5{
    /* background-color: yellowgreen; */
    width: 7%;
    overflow: hidden;
}
.PurchaseRaw-header-6{
    /* background-color: wheat; */
    width: 2.5%;
    overflow: hidden;
}
.PurchaseRaw-header-7{
    /* background-color: aqua; */
    width: 5%;
    overflow: hidden;
}
.PurchaseRaw-header-8{
    /* background-color: yellowgreen; */
    width: 5%;
    overflow: hidden;
}
.PurchaseRaw-header-9{
    /* background-color: blue; */
    width: 9%;
    overflow: hidden;
}

.PurchaseRaw-header-5-input{
    height: 30px;
}
.PurchaseRaw-header-6-input{
    height: 35px;
}





.PurchaseRaw-items-table-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.PurchaseRaw-items-summary-div{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: right;
}
.PurchaseRaw-items-summary{
    width: 20%;
    background-color: var(--color-secondary);
    height: max-content;
    padding: 20px;
}
.PurchaseRaw-items-summary-sub{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.PurchaseRaw-btn-div{
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 10px;
}
.PurchaseRaw-btn{
    background-color: var(--color-secondary);
}